{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {# {% if notification == 'Votre mot de passe à bien été mis à jour' %}
        <div class="alert alert-info">{{ notification }}</div>
    {% else %}
        <div class="alert alert-danger">{{ notification }}</div> 
    {% endif %} #}
    <h1>Modifier mon mot de passe </h1>
    <a href="{{ path('account') }}">rétourner à mon compte </a><br>
    {{ form(form) }}
    <hr>
    
{% endblock %}