{% extends 'base.html.twig' %}

{% block title %}Schama immobilier - Locations{% endblock %}

{% block body %}
    <div class="contain">
        {% for property in propertiesisnotsell %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{{ path('property',{'slug':property.slug})}}"><img src="/uploads/{{ property.illustration }}" alt="{{ property.name }}" class="img-fluid"></a>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">{{property.name}}</h5>
                            <p class="card-text m-0">{{property.description}}</p>
                            <p class="card-text">
                                {% if property.isavaible  %}
                                    <small class="badge badge-danger p-1">pas disponible</small>
                                {% else %}
                                    <small class="badge badge-success p-1">disponible</small>
                                {% endif %}   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
